body {
	font-size: 20px;
	height: 100vh;
	background-color: gray;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.p1 {
	font-size: 16px;
	font-style: italic;
	color: azure;
	float: left;
}
.p2 {
	font-size: 25;
	font-style: unset;
	color: chartreuse;
	float: right;
}
.p3 {
	font-size: 40px;
	font-style: oblique;
	color: aqua;
	float: none;
}
.p4 {
	font-size: 5px;
	font-style: inherit;
	color: bisque;
}
