*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: #444;
	font-size: 18px;
}
nav {
	text-transform: uppercase;
	a {
		color: black;
	}
	.nav-link:hover {
		color: royalblue;
	}
	.nav-link:active {
		color: red;
	}

	.navbar-brand {
		font-weight: bold;
	}
	.active{color: $blue-color;}
}
.fa-solid {
	padding: 10px;
	font-size: 30px;
	color: blue;
}
