@use './colors' as colors;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: sans-serif;
}

@mixin addons {
	border-radius: 25px;
	background-color: gold;
}

.square {
	margin: 30px;
	height: 200px;
	width: 200px;
	border: 5px solid black;
	border-radius: 25px;
	@include addons;
}

.one {
	background-color: colors.$red;
}
.two {
	background-color: colors.$green;
}
.three {
	background-color: colors.$blue;
}
.four {
	background-color: colors.$red2;
}
.five {
	background-color: colors.$yellow;
}
