* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'montserrat' sans-serif;
	font-family: 'Nunito', sans-serif;
	background-color: gray;
}
button {
	position: absolute;
	top: 50px;
	transform: translateX(-50%);
	font-family: 'nunito', sans-serif;
	width: 120px;
	padding: 10px 30px;
	background: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border: 3px solid white;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.btn-zoom {
	left: 40%;
}
.btn-move {
	left: 50%;
}
.btn-color {
	left: 60%;
}
.btn-color:hover {
	background-color: white;
	color: black;
	border: black;
}
.btn-move:hover {
	background-color: white;
	color: black;
	border: black;
}
.btn-zoom:hover {
	background-color: white;
	color: black;
	border: black;
}
.square {
	position: absolute;
	top: 150px;
	height: 100px;
	width: 100px;
	border-radius: 25px;
	transform: translateX(-50%);
	transition: 0.3s;
}
.blue {
	left: 40%;
	background-color: royalblue;
	border: 2px solid blue;
	box-shadow: 0px 0px 15px blue;
}
.red {
	left: 50%;
	background-color: tomato;
	border: 2px solid red;
	box-shadow: 0px 0px 15px red;
}
.green {
	left: 60%;
	background-color: greenyellow;
	border: 2px solid green;
	box-shadow: 0px 0px 15px green;
}

.btn-zoom:hover ~ .square {
	width: 200px;
	height: 200px;
	/* zoom: 200%; */
	/* scale: 2; */

}
.btn-move:hover ~ .square {
	margin-top: 500px;
}
.btn-color:hover ~ .square {
	background-color: black;
	border: 2px solid white;
	box-shadow: 0px 0px 15px black;
}
